@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Laila:wght@300;400;500;600;700&display=swap');
:root {
    --primary-color: #51b1d7;
    --secondary-color: #3A7fC2;
    --background-color: #081946;
    --surface-color: #2B4F8B;
    --text-1-color: #EFF5F6;
    --text-2-color: #DBD4CC;
    --muted-color: #7095b5;
    --success-color: #3EB6CF;
    --error-color: #FF7565;
    --accent-color: #F277B8;
}

* {
    box-sizing: border-box;
}

#logo {
    width: 30px;
    height: auto;
    filter: invert(100%) sepia(41%) saturate(1277%) hue-rotate(175deg)
        brightness(104%) contrast(92%);
}

h1,
h2,
h3 {
    font-family: "Laila", serif;
    font-weight: medium;
    letter-spacing: -3px;
}

h4,
h5,
h6 {
    font-family: "Laila", serif !important;
    letter-spacing: -1px;
}


.btn-primary {
    font-variant: small-caps !important;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #51B1D7 !important; /*change lines 42 & 43*/
    background-color: #2B4F8B !important;
    border-radius: 13px !important;
}

.btn-secondary {
    font-variant: small-caps !important;
    cursor: pointer;
    border-radius: 13px !important;
}

#navHeader,
#footer {
    padding: 1rem 1.5rem;
    color: var(--text-1-color) !important;
}

#navHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    transition: all 0.2s ease;
    z-index: 1000;
    border-bottom: var(--primary-color) 1px solid;
}
#navHeader.scrolled {
    background: var(--background-color);
    color: var(--text-1-color) !important;
}

#logo.scrolled {
    filter: invert(100%) sepia(41%) saturate(1277%) hue-rotate(175deg)
        brightness(104%) contrast(92%);
} 

#aboutLink.scrolled, 
#projectsLink.scrolled, 
#contactLink.scrolled {
   color: var(--text-1-color) !important; 
}

.nav-link {
    font-family: "Alan Sans", sans-serif;
    color: var(--text-1-color) !important; 
}


.nav-link:hover, #footer .nav-link:hover{
    color: var(--accent-color);
}

#aboutLink.scrolled, 
#projectsLink.scrolled, 
#contactLink.scrolled {
    color: var(--text-1-color);
}

#aboutLink.scrolled:hover, 
#projectsLink.scrolled:hover, 
#contactLink.scrolled:hover {
    color: var(--text-1-color);
}

body {
    font-family: "Montserrat", sans-serif !important;
    background: linear-gradient(
        -45deg,
        var(--text-1-color),
        var(--text-2-color),
        var(--primary-color),
        var(--secondary-color),
        var(--background-color)
    );
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    color: var(--text-1-color) !important;
}

#jumbotron {
    position: relative;
    text-align: left;
    width: 100%;
    height: 700px;
}

.info {
    background-color: var(--background-color);
    width: 100vw;
}

#jumbotron::after {
    content: "";
       position: absolute;
       inset: 0;
       background: linear-gradient(
           to top,
           rgba(8, 24, 70, 1) 0%,
           rgba(8, 24, 70, 0) 75%
       );
}

#footer {
    background-color: var(--background-color);
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 100%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 0%;
    }
    100% {
      background-position: 0% 50%;
    }
}

#jumbotron-text {
    padding-left: 200px;
    padding-right: 200px;
}

#title {
    font-size: 100px;
    font-variant: unset;
    letter-spacing: -4px;
}

section {
    width: 100%;
}
.card {
    width: 16rem !important;

    box-shadow: rgba(112, 149, 181, 0.35) 0px 5px 15px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover {
    box-shadow: rgba(81, 177, 215, 0.65) 0px 15px 30px;
    translate: 0 -10px;
}

#linkGroup {
    display: flex;
    justify-content: center;
    gap: 10px;
}
