@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Niconne&display=swap");

#logo {
    width: 30px;
    height: auto;
    filter: invert(100%) sepia(41%) saturate(1277%) hue-rotate(175deg)
        brightness(104%) contrast(92%);
}

h1,
h2,
h3 {
    font-family: "Laila", serif;
    font-variant: small-caps;
}

h4,
h5,
h6 {
    font-family: "Laila", serif !important;
    font-weight: 900;
}

.btn-primary {
    font-variant: small-caps !important;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #51B1D7 !important;
    background-color: #2B4F8B !important;
    border-radius: 18px !important;
}

.btn-secondary {
    font-variant: small-caps !important;
    cursor: pointer;
    border-radius: 18px !important;
}

#navHeader,
#footer {
    padding: 1rem 1.5rem;
    color: #081846 !important;

}

#navHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    transition: all 0.2s ease;
    z-index: 1000;
    color: #eff5f6 !important;

}
#navHeader.scrolled {
    background: rgba(239, 245, 246, 1);
    color: #081846 !important;
}



#logo.scrolled {
    filter: brightness(0) saturate(100%) invert(8%) sepia(66%) saturate(2714%) hue-rotate(214deg) brightness(89%) contrast(100%);
} 

#aboutLink.scrolled, 
#projectsLink.scrolled, 
#contactLink.scrolled {
    color: #081846 !important;
}

.nav-link {
    font-family: "Laila", serif;
    color: #eff5f6 !important;
}

#footer .nav-link {
    color: #081846 !important;

}

.nav-link:hover, #footer .nav-link:hover{
    color: #F277B8 !important;
}

#aboutLink.scrolled, 
#projectsLink.scrolled, 
#contactLink.scrolled {
    color: #081846 !important;
}

#aboutLink.scrolled:hover, 
#projectsLink.scrolled:hover, 
#contactLink.scrolled:hover {
    color: #F277B8 !important;
}

body {
    font-family: "Montserrat", sans-serif !important;
    background: linear-gradient(
        -45deg,
        #EFF5F6,
        #DBD4CC,
        #51B1D7,
        #3A7FC2,
        #2B4F8B,
        #081846
    );
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    color: #081846 !important;
}

#jumbotron {
    position: relative;
    text-align: center;
    width: 100%;
    color: #eff5f6;
    height: 700px;
}

.info {
    background-color: #eff5f6;
    width: 100vw;
}

#jumbotron::after {
    content: "";
       position: absolute;
       inset: 0;
       background: linear-gradient(
           to top,
           rgba(239, 245, 246, 1) 0%,
           rgba(239, 245, 246, 0) 90%
       );
}

#footer {
    background-color: #eff5f6;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 100%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 0%;
    }
    100% {
      background-position: 0% 50%;
    }
}

#jumbotron-text {
    padding-left: 200px;
    padding-right: 200px;
}

#title {
    font-family: "Niconne", cursive;
    font-size: 100px;
    font-variant: unset;
    letter-spacing: -4px;
    color: #eff5f6;
}

section {
    width: 100%;
}
.card {
    width: 16rem !important;
    background-color: #eff5f6 !important;
    border-color: #cfd3df !important;
    box-shadow: rgba(112, 149, 181, 0.35) 0px 5px 15px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover {
    box-shadow: rgba(81, 177, 215, 0.65) 0px 15px 30px;
    translate: 0 -10px;
}

#linkGroup {
    display: flex;
    justify-content: center;
    gap: 10px;
}
